body{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(180, 210, 255);
    transition: all .3s ease;
}

a:hover{
    color: white; 
}



h1{
    font-size: 40;
}
.main_video_div{
    display:flex;
    position: relative;
    
}

#profile-links{
    font-size: 26px;
    width: 420px;
}
#vid_user{
    font-size: 20px;
}

#vid_info{
    position: relative;
    padding-left: 5%;
    padding-top:1.5%;

}
#vid_iframe{
    float:right;
}
