<html>
    <head>
        <!-- <link rel="stylesheet" href="/static/style.css"> -->


    </head>
    <body>
        <div id="topmenu">
            <br>
            <!-- <a href="/"><button type="button" id= "homebtn" ></button></a> -->
            {% if login_url %}      <!--If login url is true-->
            <a href="{{login_url}}"><button type="button">Login</button></a>
            {% else %}
            <a href="{{home_url}}"><button type="button" id="homebtn">Home</button></a>
            <a href="{{profileedit_url}}"><button type="button" id="profileeditbtn">Edit Profile</button></a>
            <a href="{{upload_url}}"><button type="button" id="uploadbtn">Upload</button></a>
            <a href="{{logout_url}}"><button type="button" id="logoutbtn">Logout</button></a>
                <div>
                    
                </div>
            {% endif %}
        </div>

        <!-- {%if successmsg%}
        <div id="successmsg">{{successmsg}}</div>
        {% endif %}
        {% if errormsg %}
        <div id="errormsg">{{errormsg|linebreaks}}</div>
        {% endif %} -->
        {% block content %} {% endblock %}
    </body>
</html>