<html>
    <head>
        <link rel="stylesheet" href="/static/menu.css">


    </head>
    <body>
        <div id="banner"><img src="https://media2.giphy.com/media/xUA7b9HAKGRDT3Rfsk/source.gif"></div>
        <img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/36959747_110975216490967_3062449851145912320_n.jpg?_nc_cat=102&_nc_oc=AQkSWghsFnfZLpVh2VSPzJs_SN3rGsDDuODUpy3xVoOOXFjPCbHPymg3vpDI5LTAopgjC0jGQjHpep0AKVFA2hUE&_nc_ht=scontent-hkg3-2.xx&oh=a472753ca7846bf6828585cf45be367e&oe=5DA251F7" id="profileFrame">
        <img id="logo" src="static/images/logo.png">
        <div id="topmenu">
            <br>
            <!-- <a href="/"><button type="button" id= "homebtn" ></button></a> -->
            {% if login_url %}      <!--If login url is true-->
            <a href="{{login_url}}"><button type="button">Login</button></a>
            {% else %}
            <a href="{{home_url}}"><button type="button" id="homebtn">Home</button></a>
            <a href="{{profileedit_url}}"><button type="button" id="profileeditbtn">Edit Profile</button></a>
            <a href="{{upload_url}}"><button type="button" id="uploadbtn">Upload</button></a>
            <a href="{{logout_url}}"><button type="button" id="logoutbtn">Logout</button></a>
                <div>
                    
                </div>
            {% endif %}
        </div>
        

        <!-- {%if successmsg%}
        <div id="successmsg">{{successmsg}}</div>
        {% endif %}
        {% if errormsg %}
        <div id="errormsg">{{errormsg|linebreaks}}</div>
        {% endif %} -->
        {% block content %} {% endblock %}
    </body>
</html>