<html>
    <head>
        <link rel="stylesheet" href="/static/homepage.css">
    </head>
    <body>
        <br>
        <h1>Feed</h1>
        {% for video in videos %}
            <div class="main_video_div">
                
                <div id="vid_iframe">
                <iframe width="420" height="250"
                    src="{{video.url}}">
                </iframe> 
                </div>

                <div id="vid_info">
                <a href="/profileview/{{video.email}}" id="profile-links">{{video.title}}</a>
                <br>
                <p id="vid_user">By user:{{video.email}}</p>
                <p id="vid_description">{{video.description}}</p>
                </div>
            </div>
            <br>
            {% endfor %}
       
    </body>
</body>