<html>
    <head>
        <link rel="stylesheet" href="/static/menu.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .mySlides {display:none;}
        </style>
    </head>
    <body id="white">
        <div id="banner"></div>
        <a href="{{profileedit_url}}"><img src="/profilepic?user={{userid}}" id="profileFrame"></a>
        <img id="logo" src="static/images/logo.png">
        <h1 id="pname">{{nickname}}</h1>
        <!-- {%if successmsg%}
        <div id="successmsg">{{successmsg}}</div>
        {% endif %}
        {% if errormsg %}
        <div id="errormsg">{{errormsg|linebreaks}}</div>
        {% endif %} -->
        <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <br>
                    <!-- <a href="/"><button type="button" id= "homebtn" ></button></a> -->
                    {% if login_url %}      <!--If login url is true-->
                    <a href="{{login_url}}"><button type="button">Login</button></a>
                    {% else %}
                    <a href="{{home_url}}">Home</b>
                    <a href="{{feed_url}}">Feed</b>
                    <a href="{{profileedit_url}}">Edit Profile</a>
                    <a href="{{upload_url2}}">Upload</a>
                    <a href="{{logout_url}}">Logout</button></a>
                    <div>
                </div>
            {% endif %}
            </div>
        </div>

    <div class="slideshow">
        <img class="mySlides" src="static/images/trees.jpeg" style="width:100%">
        <img class="mySlides" src="static/images/flowers.jpg" style="width:100%">
        <img class="mySlides" src="static/images/sea2.jpg" style="width:100%">
        <img class="mySlides" src="static/images/snowmountains.png" style="width:100%">
        <img class="mySlides" src="static/images/road.jpg" style="width:100%">

        <button class="button1" onclick="plusDivs(-1)">&#10094;</button>
        <button class="button2" onclick="plusDivs(1)">&#10095;</button>
    </div>


    <div id="aboutus">
        <h1 id="abotustitle"> What is 123Preach? </h1>
        <p>123Preach is a platform where religious figures can share their messages with the world, no longer being limited by the borders of their parishes and communities. With 123Preach, their impact could be limitless with the touch of a button. All humans can browse through their favorite preachers' podcasts on the go. Most importantly, however, all religions are welcome on this platform. Join today!</p>
    </div>

    <div id="meetcreators">
        <center><h1> Meet the creators: </h1></center>
    </div>

    <div id="aboutus2">
        <img class="aboutuspic" src="static/images/alinapic.jpg">
        <h1 class="abotustitle"> Alina Suarez </h1>
        <center><p class="aboutusinfo">Alina Suarez (18) is one of the founders of 123Preach. This August, she will be heading off to Duke University to study computer engineering as a freshman. Growing up in Miami, FL, she has catered to her passion for technology and innovation throughout high school. This summer, she has participated in Google’s Computer Science Summer Institute, which has allowed her to delve into computer science for the first time! She is eager to use technology to better the world.</p></center>
    </div>


    <div id="aboutus3">
        <img class="aboutuspic" src="static/images/mierafpic.jpeg">
        <h1 class="abotustitle"> Mieraf Mulat </h1>
        <center><p class="aboutusinfo">Mieraf Mulat (18) is one of the founders of 123Preach. Moving to the United States from Ethiopia at age 11, Mieraf’s grit and determination allowed her to skillfully assimilate to the new culture while excelling in school. She will be attending Northwestern University this fall as a computer science major. During her free time, Mieraf enjoys spending time with her family, reading, and listening to music. </p>
    </div>

    <div id="aboutus4">
        <img class="aboutuspic" src="static/images/igorpic3.jpg">
        <h1 class="abotustitle"> Igor Mafra Felipe</h1>
        <center><p class="aboutusinfo">Igor Mafra Felipe (20) is one of the founders of 123Preach. Born in Belo Horizonte, Brazil, Igor currently resides in Malborough, Massachusetts. He has been a part of the computer science community ever since he was a freshman in high school. His interests include CyberSecurity, Aerospace Engineering, Physics, and Soccer. He hopes to one day be able to work in a space exploration mission. </p></center>
    </div>


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>


    </body>
</html>