<html>
    <head>
        <title>Profile</title>
        <!-- style link -->
    </head>

    <body>
        <div id="picname">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
            <h1> NAME </h1>
        </div>
        <div id="generalInformation">
            <dl>
                <dt>Coffee</dt>
                <dd>Black hot drink</dd>
                <dt>Milk</dt>
                <dd>White cold drink</dd>
            </dl>
        </div>
        <p>bigtextinfo</p>
        
    </body>
</html>