{% extends "_base.html" %}
{% block content %}
hi, this is the profile edit page
<form method="post" action="/profile-save">
    name: <br>
    <input type="text" name="name"><br>
    age: <br>
    <input type="text" name="age"><br>
    description: <br>
    <textarea name="description" rows="16"></textarea><br>
    nationality: <br>
    <input type="text" name="nationality"><br>
    location: <br>
    <input type="text" name="location"><br>
    language: <br>
    <input type="text" name="language"><br>
    <input type="submit">
</form>
{% endblock %}