{% extends "_base.html" %}
{% block content %}
<center><div id="profileForm">
    <br>
    <h1>Profile Edit</h1>
    <br>
    <form method="post" action="{{upload_url}}" enctype="multipart/form-data">
    first name: <br>
    <input required type="text" name="firstname" value={{firstname}} ><br>
    last name: <br>
    <input required type="text" name="lastname" value={{lastname}}><br>
    age: <br>
    <input required type="text" name="age" value={{age}}><br>
    description: <br>
    <textarea id="why" name="description" rows="16">{{description}}</textarea><br>
    nationality: <br>
    <input type="text" name="nationality" value={{nationality}}><br>
    location: <br>
    <input type="text" name="location" value={{location}}><br>
    language: <br>
    <input type="text" name="language" value={{language}}><br>
    profilepic: 
    <input required type="file" id="profilepic" name="profilepic" >
    <input type="submit">
</form></div></center>
{% endblock %}