<html>
    <head>
        <link rel="stylesheet" href="/static/menu.css">

    </head>
    <body id="profileviewbody">
        <script type="text/javascript">
        function onClick(email){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                alert("Done")
                }
            };
            xhttp.open("GET", "/followbtn?email=" + email, true);
            xhttp.send();
        }
        </script>
        <center><div id="profile-view">
            
            <p id="profileviewname">{{firstname}} {{lastname}} </p>
            <img id="profilepic" src="/profilepic?user={{userid}}">
            <p>About {{firstname}}: {{description}}</p>
            <p>age: {{age}}</p>
            <p>nationality: {{nationality}}</p>
            <p>location: {{location}}</p>
            <p>language:{{language}}</p>


            <!-- <form method="get" action="/followbtn?email={{email}}">
            <input type="submit" action="/followbtn" value="follow"> 
            </form> -->
            <button class="dropbtn" onclick="onClick('{{email}}')">Follow</button>
            


            <!-- {% for videos in profile.database %} -->
            <!-- {% endfor %} -->
        </div>
        </center>
            {% for video in videos %}
            {% if video.email == email %}
            <div class="video_div">
                <span>
                <a href="/profileview/{{video.email}}" id="profile-links">{{video.title}}</a> - Posted by {{video.email}} 
                </span>
                <br>
                <iframe id="video_iframe" width="420" height="315"
                    src="{{video.url}}" allowfullscreen="true">
                </iframe> 
                <br>
                <p>{{video.description}}</p>
            </div>
            {% endif %}
            {% endfor %}
    </body>
</html>