{% extends "_base.html" %}
{% block content %}
<center><div id="profileForm">
    <br>
    <h1>Profile Edit</h1>
    <br>
    <form method="post" action="/profile-save">
    name: <br>
    <input type="text" name="name" value={{name}}><br>
    age: <br>
    <input type="text" name="age" value={{age}}><br>
    description: <br>
    <textarea id="why" name="description" rows="16">{{description}}</textarea><br>
    nationality: <br>
    <input type="text" name="nationality" value={{nationality}}><br>
    location: <br>
    <input type="text" name="location" value={{location}}><br>
    language: <br>
    <input type="text" name="language" value={{language}}><br>
    <input type="submit">
</form></div></center>
{% endblock %}